@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@config "../tailwind.config.js";
@import "./styles/_mixins.scss";
@import "tailwindcss";

@layer base {
  *{
    font-family: "Rubik", sans-serif;
    
  }
  html {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: hsl(228, 33%, 97%);
  }
  #comments {
    color: hsl(211, 10%, 45%)
  }
    img {
      @apply !w-[2vw] !h-[2vw] cursor-pointer
    }
    textarea {
      @apply w-full !rounded-[0.6vw] border px-[1vw] py-[0.5vw] 
    }
    .pointer {
      @apply cursor-pointer
    }
    .mediumTxt{
      @apply tracking-wide
    }
    button {
      @apply flex items-center justify-center cursor-pointer !text-white100 !rounded-[0.4vw]  w-[8vw] h-[2.4vw]
    }
    
      h1 {
        @apply bg-purple600 cursor-pointer
      }
      .icon {
        @apply w-[0.8vw] h-[0.8vw]
      }
      .icon2 {
        @apply w-[1vw] h-[1vw]
      }
      .icon3 {
        @apply w-[1.05vw] h-[1.05vw]
      }
      .vote{
        @apply font-bold
      }
      
      @keyframes pop {
        0% {
          opacity: 0;
          transform: scale(0.4);
        }
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
      
      .animate-pop {
        animation: pop 300ms ease-out forwards;
      }
      @media (min-width: 376px) and (max-width: 2560px){
        button{
          font-size: calc(3px + (22 - 3) * ((100vw - 376px) / 2185)) !important;  
        }
        p{
          font-size: calc(4.4px + (30 - 4.4) * ((100vw - 376px) / 2185)) !important;  
        }
        .smallTxt{
          font-size: calc(2.2px + (21.5 - 2) * ((100vw - 376px) / 2185)) !important;  
        }
        .mediumTxt{
          font-size: calc(4px + (24 - 2) * ((100vw - 376px) / 2185)) !important;  
        }
        .vote{
          font-size: calc(4px + (28 - 4) * ((100vw - 376px) / 2185)) !important;  
        }
        
      }
      .comment-card {
  @include comment-card;
}

.btn-primary {
  @include button(hsl(238, 40%, 52%)); 
}

.modal {
  @include modal-center;
}
 

}
